*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: black;
    display: grid;
    place-items: center;
    place-content: center;
    gap: 2rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

p{
    max-width: 30vw;
    transition: 200ms ease-in-out;
    padding: .2rem;
    margin-top: 1rem;
}

button{
    background-color: transparent;
    color: white;
    transition: 200ms ease-in-out;
    padding: .3rem;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: .3rem;
    outline: 1px solid white;
    width: fit-content;
}
button:hover{
    background-color: white;
    color: black;
}

p[data-estado = 'on']{
    background-color: white;
    color: black;
}

p[data-estado = 'off']{
    background-color: transparent;
    color: white;
}
